<h1>Kampüs Etkinlik Platformu</h1>

<nav>

  <a routerLink="/popular-events">
    Popüler Etkinlikler
  </a>

  @if (auth.isAuthenticated()) {

    |

    <a routerLink="/home">
      Ana Sayfa
    </a>

    |

    <a routerLink="/clubs">
      Kulüpler
    </a>

    |

    <a routerLink="/events">
      Etkinlikler
    </a>


    @if (auth.hasRole('Student')) {

      |

      <a routerLink="/my-registrations">
        Kayıtlarım
      </a>

    }


    @if (auth.hasRole('ClubManager')) {

  <a routerLink="/club-manage">
    Kulüp Oluştur
  </a>

  |

  <a routerLink="/event-manage">
    Etkinlik Oluştur
  </a>

  |

}


@if (
  auth.hasRole('ClubManager')
  &&
  auth.currentUser()?.email === 'manager@kampus.com'
) {

  <a routerLink="/user-management">
    Kullanıcı Yönetimi
  </a>

  |

}


    |

    <span>
      {{ auth.currentUser()?.fullName }}
    </span>

    |

    <button
      type="button"
      (click)="auth.logout()"
    >
      Çıkış Yap
    </button>

  } @else {

    |

    <a routerLink="/login">
      Giriş Yap
    </a>

    |

    <a routerLink="/register">
      Kayıt Ol
    </a>

  }

</nav>

<hr>

<router-outlet />